.box{
    background-color: aqua;
    height: 200px;
    width: 300px;
}

.responsive-box{
    background-color: beige;
    height: 50vw;
    width: 50vw;
}

.padded-text{
    background-color: blueviolet;
    padding: 20px;
}

.custom-padding{
    background-color: cadetblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.border-box{
    border: black 2px solid;
}

.rounded-border{
    border: red dotted 3px;
    border-radius: 15px;
}

.margin-text{
    background-color: chocolate;
    margin: 30px;
}

.custom-margin{
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.inline-element{
    background-color: bisque;
    display: inline;
}

.block-element{
    background-color: grey;
    display: block;
}

.inline-block-element{
    background-color: green;
    display: inline-block;
}

.hidden-element{
    display: none;
}

.visible-element{
    visibility: visible;
}

.invisible-element{
    visibility: hidden;
}

.transparent-box{
    background-color: rgb(0, 0, 255, 0.5);
}
